<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Library</display-name>
  <welcome-file-list>
    <welcome-file>LoAndRe/index.html</welcome-file>
    <welcome-file>LoAndRe/index.htm</welcome-file>
    <welcome-file>LoAndRe/index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  ListOfOperatorServlet
  <servlet>
    <servlet-name>ListOfOperatorServlet1</servlet-name>
    <servlet-class>com.library.servlet.ListOfOperatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListOfOperatorServlet1</servlet-name>
    <url-pattern>/operator/ListOfOperator</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OperatorSortServlet</servlet-name>
    <servlet-class>com.library.servlet.OperatorSortServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorSortServlet</servlet-name>
    <url-pattern>/operator/SortOrderId</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OperatorNewBorrowServlet1</servlet-name>
    <servlet-class>com.library.servlet.OperatorNewBorrowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorNewBorrowServlet1</servlet-name>
    <url-pattern>/operator/OperatorNewBorrow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeStateServlet1</servlet-name>
    <servlet-class>com.library.servlet.ChangeStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeStateServlet1</servlet-name>
    <url-pattern>/operator/ChangeState</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OperatorBorrowBookInfoServlet1</servlet-name>
    <servlet-class>com.library.servlet.OperatorBorrowBookInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorBorrowBookInfoServlet1</servlet-name>
    <url-pattern>/operator/OperatorBorrowBookInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateBookInfoServlet1</servlet-name>
    <servlet-class>com.library.servlet.UpdateBookInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookInfoServlet1</servlet-name>
    <url-pattern>/operator/UpdateBookInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookDeServlet</servlet-name>
    <servlet-class>com.library.servlet.BookManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDeServlet</servlet-name>
    <url-pattern>/reader/bookmanage1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mybookservlet1</servlet-name>
    <servlet-class>com.library.servlet.MyBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mybookservlet1</servlet-name>
    <url-pattern>/reader/mybookbackTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>operator_booksearch</servlet-name>
    <servlet-class>com.library.servlet.OperatorBookMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>operator_booksearch</servlet-name>
    <url-pattern>/operator/operatorbookmessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchDeServlet</servlet-name>
    <servlet-class>com.library.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchDeServlet</servlet-name>
    <url-pattern>/reader/searchbook1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OperatorSearchBookServlet</servlet-name>
    <servlet-class>com.library.servlet.OperatorSearchBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorSearchBookServlet</servlet-name>
    <url-pattern>/operator/operatorsearchbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OperatorManage</servlet-name>
    <servlet-class>com.library.servlet.OperatorManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorManage</servlet-name>
    <url-pattern>/LoAndRe/operate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReadAddBookTypeServlet1</servlet-name>
    <servlet-class>com.library.servlet.ReadAddBookTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadAddBookTypeServlet1</servlet-name>
    <url-pattern>/operator/ReadAddBookType</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddBook</servlet-name>
    <servlet-class>com.library.servlet.OperatorAddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBook</servlet-name>
    <url-pattern>/operator/operator_addbook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReaderManage</servlet-name>
    <servlet-class>com.library.servlet.ReaderManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReaderManage</servlet-name>
    <url-pattern>/LoAndRe/reader</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>code</filter-name>
    <filter-class>com.library.filter.CodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>code</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>